<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self' data: gap:  ws: 'unsafe-inline' https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline' ws://*; style-src 'self' 'unsafe-inline'; media-src *; connect-src *; img-src * data:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="gray">

    <!-- Color of status bar, address bar, header bar color for Android -->
    <meta name="theme-color" content="#2196F3">

    <!-- PWA - Add to home screen settings for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="БулкаХлеба">

    <!-- Need to handle all desired sizes for the following two (see Apple Docs for dimensions) -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">

    <link rel="apple-touch-startup-image" href="img/Default-Portrait.png">
    <!--<link rel="apple-touch-startup-image" href="img/Default-Portrait-736@3x.png" sizes="1242x2148">-->

    <meta name="msapplication-tap-highlight" content="no">

    <!-- PWA - Pinned Tile for Windows -->
    <meta name="msapplication-TileImage" content="img/favicons/mstile-150x150.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <style>
        /* use this to hide elements until vue mount is fired */
        [v-cloak] {
            display: none;
        }
    </style>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js')
                .then(() => console.log('service worker installed'))
                .catch(err => console.log('Error', err));
        }
    </script>

    <!-- PWA Manifest -->
    <link rel="manifest" href="manifest.json">

    <title>БулкаХлеба</title>

    <!-- See js/init-styles.jswhere we load F7 style sheets based on platform -->
    <link rel="stylesheet" href="css/app.css?v=0.2">
    <link rel="stylesheet" href="css/framework7-icons.css">

</head>

<body>

<div id="app" v-show="isMounted">
    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>
    <!-- Left Panel -->
    <f7-panel id="side-panel" left :cover="isMaterial" reveal :layout="isiOS?'white':'dark'">
        <f7-list>
            <f7-list-group>
                <f7-list-item title="Списки" group-title></f7-list-item>
                <f7-list-item id='ALL' title="Все"
                              :class="[sharedState.selectedCategory==='Все' ? 'bg-blue' : '']" @click="filterCategory('Все')"></f7-list-item>
                <f7-list-item id='NO CATEGORY' title="Без категории" @click="filterCategory('Без категории')"
                              :class="[sharedState.selectedCategory==='Без категории' ? 'bg-blue' : '']"></f7-list-item>
            </f7-list-group>
        </f7-list>

        <f7-list>
            <f7-list-group>
                <f7-list-item title="Свои категории" group-title></f7-list-item>
                <f7-list-item v-if="(category!='ВСЕ') && (category!='БЕЗ КАТЕГОРИИ')"
                              v-for="category in categories" :class="[(category===sharedState.selectedCategory) ? 'bg-blue' : '']" :title="category"
                              @click="filterCategory(category)"
                              :id="category"></f7-list-item>
            </f7-list-group>
        </f7-list>

        <f7-list>
            <f7-list-group>
                <f7-list-item title="Параметры" group-title></f7-list-item>
                <f7-list-button @click="openLogin" title="Войти"></f7-list-button>
                <f7-list-button @click="openAbout" title="О программе"></f7-list-button>
            </f7-list-group>
        </f7-list>
    </f7-panel>

    <!-- Views-->
    <f7-views toolbar-through v-cloak>

        <!-- Main view-->
        <f7-view id="main-view" :dynamic-navbar="true" navbar-through main>

            <f7-navbar sliding v-if="$theme.ios">
                <f7-nav-left>
                    <!--<f7-link icon-f7="bars" open-panel="side-panel"></f7-link>-->
                    <f7-link icon="icon-bars" open-panel="side-panel"></f7-link>
                </f7-nav-left>
                <f7-nav-center>
                    <img src="img/logo_ios.png" height="34"/>
                </f7-nav-center>
                <f7-nav-right>
                    <f7-link icon-f7="add" open-popup="#todo-popup"></f7-link>
                </f7-nav-right>
            </f7-navbar>

            <f7-pages>
                <page-tabs/>
                <!-- Make todo-item popup available to both tabs by including it here -->
                <todo-item/>
            </f7-pages>

            <!-- Login popup -->
            <login-item></login-item>

            <!-- About popup -->
            <about-item></about-item>


        </f7-view>
    </f7-views>
</div>

<!-- Main Page Template (tabs) -->
<template id="page-tabs">
    <f7-page id="mainPage" data-page="mainPage" tabbar-fixed :with-subnavbar="isMaterial">
        <f7-navbar sliding>
            <f7-nav-left>
                <f7-link icon-f7="bars" open-panel="side-panel"></f7-link>
            </f7-nav-left>
            <f7-nav-center>
                <img src="img/logo_android.png" height="34"/>
            </f7-nav-center>
            <f7-nav-right>
                <f7-link icon-f7="add" open-popup="#todo-popup"></f7-link>
            </f7-nav-right>
        </f7-navbar>

        <f7-toolbar tabbar :labels="isiOS">
            <f7-link :icon-f7="isiOS ? 'list' : ''" text="Список покупок" tab-link="#pending" active></f7-link>
            <f7-link :icon-f7="isiOS ? 'check' : ''" text="Купленные" tab-link="#completed"></f7-link>
        </f7-toolbar>

        <f7-tabs>
            <f7-tab id="pending" active class="bg-grey">
                <page-pending/>
            </f7-tab>
            <f7-tab id="completed">
                <page-completed/>
            </f7-tab>
        </f7-tabs>
        <todo-item/>
    </f7-page>
</template>

<!-- Pending Todos Page Template -->
<template id="page-pending">
    <f7-page>

            <f7-list class="main-block">
                <f7-list-item>
                    <f7-grid no-gutter class="item-input-row">
                        <f7-col width="70">
                            <f7-input type="text" v-model="title" @keyup.enter="addNewTodo()" ref="todo_input" placeholder="Название : количество " />
                        </f7-col>
                        <f7-col width="15">
                            <f7-button @click="addHowMany()">:123</f7-button>
                        </f7-col>
                        <f7-col width="15">
                            <f7-button @click="addNewTodo()"><i class="icon f7-icons">check</i></f7-button>
                        </f7-col>
                    </f7-grid>
                </f7-list-item>
                <h1 class="margins15">{{ title_block }}:</h1>
            </f7-list>
            <f7-list v-if="todos.length > 0" class="pending-block">
                <f7-list-item v-for="(todo, key) in todos" :key="key" v-if="displayItem(todo)"
                              :checked="(todo.completed ? true : false)" :data-index="key"
                              @click="onToggle(todo,key)"
                              :title="(todo.urgent ? '<b><font color=red>!!</font></b> ' + todo.title : todo.title)"
                              :after="((typeof todo.quantity != 'undefined' && todo.quantity != '') ? '<span class=\'badge color-pink\'>'+todo.quantity+'</span>' : '')"
                              :class="[(todo.completed ? 'item-completed' : '') + ' ' + (todo.highlight ? 'bg-yellow' : '')]" swipeout checkbox>
                    <f7-swipeout-actions>
                        <!--<f7-swipeout-button close @click="onItemEdited(todo)" color="green">Изменить</f7-swipeout-button>-->
                        <f7-swipeout-button close @click="onItemDeleted(todo)" color="red"><i class="icon f7-icons">trash</i></f7-swipeout-button>
                    </f7-swipeout-actions>
                </f7-list-item>
            </f7-list>
            <div class="holder">
                <div class="smallLine smallLine1"></div>
                <div class="smallLine smallLine2"></div>
            </div>
            <f7-list v-if="todos.length > 0" class="comleted-block">
                <f7-list-item v-for="(todo, key) in todos" :key="key" v-if="displayItemCompleted(todo)"
                              :checked="(todo.completed ? true : false)" :data-index="key"
                              @click="onToggle(todo,key)"
                              :title="(todo.urgent ? '<b><font color=red>!!</font></b> ' + todo.title : todo.title)"
                              :after="((typeof todo.quantity != 'undefined' && todo.quantity != '') ? '<span class=badge>'+todo.quantity+'</span>' : '')"
                              :class="[(todo.completed ? 'item-completed' : '') + ' ' + (todo.highlight ? 'bg-yellow' : '')]" swipeout checkbox>
                    <f7-swipeout-actions>
                        <!--<f7-swipeout-button close @click="onItemEdited(todo)" color="green">Edit</f7-swipeout-button>-->
                        <f7-swipeout-button close @click="onItemDeleted(todo)" color="red"><i class="icon f7-icons">trash</i></f7-swipeout-button>
                    </f7-swipeout-actions>
                </f7-list-item>
            </f7-list>

    </f7-page>
</template>

<!-- Completed Tab Template -->
<template id="page-completed">
    <f7-page>
        <f7-block>
            <f7-block-title>{{ title }}</f7-block-title>
            <f7-list v-if="todos.length > 0">
                <f7-list-item v-for="(todo, key) in todos" :key="key"
                              :checked="(todo.completed ? true : false)"
                              v-if="displayItem(todo)" @click="onToggle(todo, key)"
                              :title="(todo.urgent ? '<b><font color=red>!!</font></b> ' + todo.title : todo.title)"
                              :after="((typeof todo.quantity != 'undefined' && todo.quantity != '') ? '<span class=badge>'+todo.quantity+'</span>' : '')"
                              :class="[(todo.completed ? 'item-completed' : '') + ' ' + (todo.highlight ? 'bg-yellow' : '')]" swipeout checkbox>
                    <f7-swipeout-actions>
                        <!--<f7-swipeout-button close @click="onItemEdited(todo)" open-popup color="green">Edit</f7-swipeout-button>-->
                        <f7-swipeout-button close @click="onItemDeleted(todo)" color="red">Delete</f7-swipeout-button>
                    </f7-swipeout-actions>
                </f7-list-item>
            </f7-list>
        </f7-block>
    </f7-page>
</template>


<template id="todo-item">
    <f7-popup id="todo-popup" tablet-fullscreen>
        <h1 class="margins_LR15">Что купить?</h1>
        <f7-list form>
            <f7-list-item>
                <f7-input type="text" v-model="title" placeholder="Название"/>
            </f7-list-item>
            <f7-list-item>
                <f7-input type="text" v-model="category" placeholder="Категория (Продукты, Хозтовары, ...)"/>
            </f7-list-item>
            <f7-list-item>
                <f7-input type="text" v-model="desc" placeholder="Описание"/>
            </f7-list-item>
            <f7-list-item checkbox name="highlight" v-model="highlight" title="Выделить" :checked="highlight"></f7-list-item>
            <f7-list-item checkbox name="urgent" v-model="urgent" title="Важно!" :checked="urgent"></f7-list-item>
        </f7-list>
        <f7-block>
            <f7-grid>
                <f7-col>
                    <f7-button @click="addNewTodo()" color="green" class="btn" big raised fill>Записать</f7-button>
                </f7-col>
                <f7-col>
                    <f7-button @click="$f7.closeModal();" color="red" class="btn" big raised fill>Отменить</f7-button>
                </f7-col>
            </f7-grid>
        </f7-block>
    </f7-popup>
</template>

<template id="about-item">
    <f7-popup class="about-popup">
        <f7-block inner>
            <h1>О приложении</h1>
            <p>Приложение для быстрого и удобного составления списка покупок.</p>
            <p>Ничего лишнего, только список, категории и возможность синхронизации/обмена списками покупок.</p>
            <p>Вернуться <f7-link close-popup>назад</f7-link>.</p>
        </f7-block>
    </f7-popup>
</template>

<!-- Login Screen -->
<template id="login-item"><!-- Login Screen -->
    <f7-popup class="login-popup">
        <f7-view>
            <f7-navbar sliding v-if="$theme.ios">
                <f7-nav-left>
                    <f7-link icon="icon-back" close-popup text="Назад"></f7-link>
                </f7-nav-left>
                <f7-nav-center>
                    <img src="img/logo_ios.png" height="34"/>
                </f7-nav-center>
                <f7-nav-right>
                </f7-nav-right>
            </f7-navbar>
            <f7-pages>
                <f7-page login-screen>
                    <f7-login-screen-title>Войти</f7-login-screen-title>
                    <f7-list form>
                        <f7-list-item>
                            <f7-label>Email</f7-label>
                            <f7-input name="username" placeholder="Username" type="text"></f7-input>
                        </f7-list-item>
                        <f7-list-item>
                            <f7-label>Пароль</f7-label>
                            <f7-input name="password" type="password" placeholder="Password"></f7-input>
                        </f7-list-item>
                    </f7-list>
                    <f7-list>
                        <f7-list-button title="Войти" close-login-screen></f7-list-button>
                        <f7-list-label>
                            <p>Авторизация позволяет синхронизировать списки покупок на всех ваших устройствах.</p>
                        </f7-list-label>
                    </f7-list>
                </f7-page>
            </f7-pages>
        </f7-view>
    </f7-popup>
</template>

<!--<script src="cordova.js"></script> -->
<script src="lib/framework7/js/framework7.min.js"></script>
<script src="lib/vue/vue.min.js"></script>
<!-- Use this non-minified version for debugging with chrome vue tool -->
<!--<script src="lib/vue/vue.js"></script>-->
<script src="lib/framework7-vue/framework7-vue.min.js"></script>
<script src="js/init-styles.js"></script>
<script src="js/todos.js?v=0.1"></script>
<script src="js/app.js?v=0.2"></script>
<!--<script src="js/bundle.js"></script>-->

<noscript>
    <p>Необходимо включить JavaScript</p>
</noscript>

</body>
</html>