/* =========
Your custom styles go here
 ========= */
.item-input-row {
    width: 100%;
}

/* Логотип для андроид */
.center img {
    vertical-align: sub;
}

/* Зачеркиваем купленное */
.item-completed .item-title {
    text-decoration: line-through;
}

.page-content.login-screen-content {
    margin-top: 42px;
}

/* Стиль блока покупок */
.list-block.comleted-block {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    background: #efeff6;
    color: #6d6d72;
}
.list-block.comleted-block ul {
    background: transparent;
}
.list-block.comleted-block ul:before, .list-block.comleted-block ul:after {
    display: none;
}
.margins15 {
    margin: 0 15px;
}
.margins_LR15 {
    margin-left: 15px;
    margin-right: 15px;
}
.list-block.main-block {
    padding: 35px 0 10px 0;
    margin: 0;
    background: #ffffff;
}

.list-block.pending-block {
    padding: 0 0 35px 0;
    margin: 0;
    background: #ffffff;
}


.page-content {
    background: #efeff6;
}

/* Разделитель покупок */
.holder {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 5px;
}
.smallLine {
    position: absolute;
    width: 100%;
    height: 5px;
}
.smallLine1 {
    background: linear-gradient(45deg, #efeff5, #efeff5 49%, #0044d6 49%, #ffffff 51%);
}
.smallLine2 {
    background: linear-gradient(-45deg, #efeff5, #efeff5 49%, #0044d6 49%, transparent 51%);
}
.smallLine {
    background-size: 10px 10px;
}
